@import "color.css";

:root{
    --white: #fff;
    --trans: rgba(0,0,0,0);
    --main_orange: #ED7D31;
    --dark_orange: #a84f13;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.hor_line{
    background-color: var(--main_orange);
    height: 3px;
    width: 200px;
    margin-top: -5px;
}

.home{
    width: 45%;
    height: 900%;
    position:absolute;
    padding: 100px;
    top: 230px;
}

.main_title img{
    height: 150px;
}

.sub_title h3{
    font-size: 20px;
    color: var(--white);
    text-shadow: #000;
}

.explore{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 5px;
    width: 200px;
    height: 55px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--main_orange);
    border-radius: 15px;
    border-color: rgba(0,0,0,0%);
    color: var(--white);
    margin-top: 40px;
    transition: 0.4s;
}

.explore:hover{
    background-color: var(--dark_orange);
    transition: 0.4s;
    font-size: 19px;
    height: 55px;
    width: 205px;
}

.explore a{
    text-decoration: none;
    color: var(--white);
    margin-left: 5px;
}

.explore a i{
    margin-left: 10px;
    font-size: 20px;
}

.home_bg{
    filter: brightness(60%);
    position:absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-shadow: #000;
}

.nav_bar{
    display: flex;
    width: 100%;
    flex-direction: row;
    position: fixed;
    padding: 15px 35px;
    background-color: rgba(83, 83, 83, 0.2);
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.logo_img{
    height: 60px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 80px;
}

.nav a{
    color: var(--white);
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    margin-right: 35px;
    height: 40px;
    width: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}


.nav a:hover{
    color: var(--white);
    background-color: var(--main_orange);
    border-radius: 20px;
    transition: 0.4s;
}

.form_box{
    background-color: var(--white);
    border-radius: 20px;
    width: 25%;
    height: 55%;
    position:absolute;
    right: 0;
    bottom: 5%;
    margin: 50px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px var(--dark_orange);
}

.form_box h1{
    position: absolute;
    top: 25px;
}

.form_box form{
    margin-top: 25px;
}

.each_form{
    margin-top: 15px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 15px;
    height: 25px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-items: center;
    align-items: center;
}


.each_form i {
    color: var(--main_orange);
    font-size: 22px;
}

.each_form input{
    margin-left: 10px;
    border: var(--trans);
    font-size: 15px;
    width: 100%;
    height: 90%;
}

.twocol_form{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.twocol{
    border: 1px solid rgb(136, 136, 136);
    border-radius: 15px;
    width: 245px;
    height: 25px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-items: center;
    align-items: center;
}

.tc1 input{
    margin-left: 25px;
}

.tc2{
    margin-left: 10px;
}

.twocol i {
    color: var(--main_orange);
    font-size: 22px;
}

.twocol input{
    margin-left: 10px;
    border: var(--trans);
    font-size: 15px;
    width: 100%;
}

.navbar-color{
    background: rgba(56, 56, 56, 0.8);
    width: 100%;
}
